{% extends 'base.html' %}

{% block title %}Добавление заказа{% endblock %}


{% block content %}

    <form action="{% url 'order_crate_url' %}" method="POST">

        {% csrf_token %}

        <div>{{ order.customer }}</div>
        <div>{{ order.phone }}</div>  
        <div>{{ order.email }}</div> 
        <div>{{ order.adress }}</div>
        <div>{{ order.description }}</div> 
        <div class="hidden_tag">{{ order.tag }}</div> 


        <button type="submit">Добавить</button>

    </form>

{% endblock %}